<app-header></app-header>
<div class="container">
    <div class="intro-section">
        <h1>Đây là trang Order</h1>
        <p>Sử dụng Bootstrap</p>
    </div> 
    <form [formGroup]="orderForm"> <!-- Thêm form và gán formGroup -->   
    <div class="row">
        <div class="col-md-6">
            <h2 class="product-header">Thông tin người nhận</h2>
                <div class="mb-3">
                    <label for="fullname" class="form-label">Họ và tên</label>
                    <input type="text" 
                        formControlName="fullname" 
                        class="form-control" 
                        id="fullname" 
                        [class.is-invalid]="orderForm.get('fullname')!.invalid && orderForm.get('fullname')!.touched">
                    <div 
                        *ngIf="orderForm.get('fullname')!.invalid && orderForm.get('fullname')!.touched" 
                        class="invalid-feedback">
                        Họ và tên là trường bắt buộc.
                    </div>
                </div>
                <div class="mb-3">
                    <label for="email" class="form-label">Email</label>
                    <input type="text" 
                        formControlName="email" 
                        class="form-control" 
                        id="email" 
                        [class.is-invalid]="orderForm.get('email')!.invalid && orderForm.get('email')!.touched">
                    <div *ngIf="orderForm.get('email')!.invalid && orderForm.get('email')!.touched" 
                        class="invalid-feedback">
                        {{ orderForm.get('email')!.hasError('email') ? 'Email không hợp lệ' : 'Email là trường bắt buộc' }}
                    </div>
                </div>
                
                <div class="mb-3">
                    <label for="phone" class="form-label">Số điện thoại</label>
                    <input type="text" 
                        class="form-control" 
                        formControlName="phone_number"                         
                        placeholder="Số điện thoại" 
                        required
                        id="phone" 
                        [class.is-invalid]="orderForm.get('phone_number')!.invalid && orderForm.get('phone_number')!.touched">
                        <div *ngIf="orderForm.get('phone_number')!.invalid && orderForm.get('phone_number')!.touched" class="invalid-feedback">
                        Số điện thoại là trường bắt buộc và ít nhất 6 ký tự.
                    </div>
                </div>
                <div class="mb-3">
                    <label for="address" class="form-label">Địa chỉ</label>
                    <input type="text" 
                        class="form-control" 
                        formControlName="address"                         
                        placeholder="Địa chỉ" 
                        required
                        id="address" 
                        [class.is-invalid]="orderForm.get('address')!.invalid && orderForm.get('address')!.touched">
                    <div *ngIf="orderForm.get('address')!.invalid && orderForm.get('address')!.touched" class="invalid-feedback">
                        Địa chỉ là trường bắt buộc và ít nhất 5 ký tự.
                    </div>
                </div>
                <div class="mb-3">
                    <label for="note" class="form-label">Ghi chú</label>
                    <input type="text" 
                        class="form-control" 
                        formControlName="note"                                                 
                        placeholder="Ghi chú" 
                        required
                        id="note">
                </div>
                <div class="mb-3">
                    <label for="shippingMethod">Phương thức vận chuyển</label>
                    <select class="form-control" id="shippingMethod" 
                        formControlName="shipping_method">
                        <option value="express">Nhanh (Express)</option>
                        <option value="normal">Thường (Normal)</option>
                    </select>
                </div>
                <div class="mb-3">
                    <label for="paymentMethod">Phương thức thanh toán</label>
                    <select class="form-control" id="paymentMethod"
                        formControlName="payment_method">                     
                        <option value="cod">Thanh toán khi nhận hàng (COD)</option>
                        <option value="other">Thanh toán khác</option>
                    </select>
                </div>
            <!-- </form> -->
        </div>        
        <div class="col-md-6">
            <h2 class="product-order">Sản phẩm đã đặt hàng</h2>
            <table>
            <thead>
                <tr>
                    <th scope="col" class="text-start">Sản phẩm</th>
                    <th scope="col">Số lượng</th>
                    <th scope="col">Đơn giá</th>
                    <th scope="col">Tổng giá</th>
                </tr>
            </thead>
            <tbody>
                <ng-container *ngFor="let item of cartItems">
                    <tr>
                        <td>
                            <div class="product-info">
                                <img [src]="item.product.thumbnail" alt="Product Image" class="product-image">
                                <span class="product-name">{{ item.product.name }}</span>
                            </div>
                        </td>
                        <td>{{ item.quantity }}</td>
                        <td>{{ item.product.price | number:'1.2-2' }}</td>
                        <td>{{ (item.product.price * item.quantity) | number:'1.2-2' }}</td>

                    </tr>
                </ng-container>
            </tbody>
        </table>   
            <div class="text-start mt-3">
                <h4 class="header-text text-end ">Tổng giá: {{ totalAmount | number:'1.2-2'}}</h4>
            </div>
            <div class="mt-3">
                <h4 class="product-header">Nhập coupon</h4>
                <div class="input-group">
                    <input type="text" class="form-control" placeholder="Nhập coupon">
                    <button class="btn btn-gradient" type="button">Áp dụng</button>
                </div>
            </div>            
            <div class="text-start mt-3">
                <button 
                    (click)="placeOrder()"
                    class="btn btn-gradient" type="button">Đặt hàng</button>
            </div>
        </div>
    </div>   
</form> 
</div>
<app-footer></app-footer>
