<div class="container-fluid">
    <header class="header bg-success text-white d-flex justify-content-between">
      <h1 class="header-title">Dashboard Header</h1>
      <!-- Logout Button -->
      <button class="btn btn-danger btn-sm" (click)="logout()">Logout</button>
    </header>
    <div class="row">
      <nav id="sidebar" class="col-md-2 col-lg-2 d-md-block bg-light sidebar">
        <div class="position-sticky">
          <ul class="nav flex-column">
            <li class="nav-item">
              <a class="nav-link" 
                (click)="showAdminComponent('orders')">
                <i class="fab fa-first-order icon"></i>Orders
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" 
                (click)="showAdminComponent('categories')">
                <i class="fab fa-canadian-maple-leaf icon"></i>Categories
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" 
                (click)="showAdminComponent('products')">
                <i class="fab fa-codepen icon"></i>Products
              </a>
            </li>
          </ul>
        </div>
      </nav>
      <div class="col-md-10 col-lg-10 overflow-auto">
       <router-outlet></router-outlet>
    </div>
  </div>