<app-header></app-header>
<div class="container">
    <div class="row">
        <div class="col-md-6 offset-md-3">
            <div class="login-form mx-auto">
                <h2 class="login-header">Đăng nhập</h2>
                <div class="form-group">
                    <label for="phoneNumber">Phone</label>
                    <input type="text" class="form-control" 
                        [(ngModel)]="phoneNumber"
                            (input)="onPhoneNumberChange()"
                            name="phone"
                            (focus)="loginForm.form.markAsTouched()"
                    id="phoneNumber">
                    <div class="divider-nospace"></div>
                </div>
                <div class="mt-5"></div>
                <div class="form-group password-field">
                    <label for="password">Mật khẩu</label>
                    <input type="password" 
                        [(ngModel)]="password"                            
                        name="password"
                        placeholder="Ít nhất 3 ký tự" 
                        class="form-control" id="password">
                    <i class="password-toggle fas fa-eye-slash"></i>
                    <div class="divider-nospace"></div>
                </div>
                <div class="form-group">
                    <div class="form-check checkbox-text">
                      <span style="display: flex;">
                        <input type="checkbox" 
                            class="form-check-input" 
                            id="remember" 
                            [(ngModel)]="rememberMe">
                        <label class="form-check-label text-start" for="remember">
                          Ghi nhớ đăng nhập</label>
                      </span>
                      <a href="#" class="register-link">Quên mật khẩu</a>
                    </div>
                  </div>
                  
                <div class="form-group">
                    <select class="form-control access-right"
                        [(ngModel)]="selectedRole">
                        <option selected disabled>Quyền đăng nhập</option>
                        <option *ngFor="let role of roles" [ngValue]="role">
                            {{ role.name }}
                        </option>
                    </select>
                  </div>
                  
                  <button 
                    type="button" 
                    (click)="login()"
                    class="login-button">Đăng nhập</button>
                  <div class="divider"></div>
                  <p class="text-center">Bạn chưa đăng ký? <span>
                    <a class="register-link" 
                        (click)="createAccount()">Tạo tài khoản</a>
                </span></p>                                                     
        
    </div>   
</div>
<app-footer></app-footer>
